
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f8f9fa;
    padding: 20px;
    box-sizing: border-box;
}

/* Style the form box */
.form-box {
    width: 100%;
    max-width: 400px;
    background: #ffffff; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    padding: 20px 30px;
    border-radius: 10px; 
}


.inputsize {
    margin-bottom: 15px;
}


@media (max-width: 768px) {
    .form-box {
        padding: 15px;
        max-width: 90%; 
    }
}
